.nav{
    position: fixed;
    width: 100%;
    padding: 10px;
    background: transparent;
    margin-bottom: 50px;
    height: 90px;
    transition: linear all 0.2s;
    z-index: 100;

}
.nav-show{
    background-color: #1a202cda;
    height: 100px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 15px;
}
.mobilenav{
    position: fixed;
    width: 100%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 10px;
    margin-bottom: 50px;
    height: 80px;
    transition: linear all 0.2s;
    z-index: 100;
    overflow: hidden;

}
.mobilenav-show{
    transition: ease-in-out all 0.5s;
}
.mobilenav-active{
    transition: ease-in-out all 0.5s;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    height: 100%;
}
*{
    margin: 0;
}
  
  @keyframes fade {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
  }

.mobilenav-active .navlink{
    opacity: 1;
}
.navlink{
    opacity: 0;
    transition: all ease-in-out 0.5;
}
.navlink:hover{
    transform: translateY(-10px);
}
.normalnavlink{
    transition: all ease-in-out 0.5;

}
.normalnavlink:hover{
    transform: translateY(-3px);
}
.blurry{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.nav-dark{
    background-color: #1a202cda;
}
.nav-light{
    background-color: #edf2f7da
}