@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="violet"] {
    --gradient: rgba(51,136,234,0.7);
    --900: #0C4A6E;
    --800: #075985;
    --700: #0369A1;
    --600: #0284C7;
    --500: #0EA5E9;
    --400: #38BDF8;
    --300: #7DD3FC;
    --200: #BAE6FD;
    --100: #E0F2FE;
    --50: #F0F9FF;
  }

  :root {
    --scroll-bar-size: 10px;
    --scroll-bar-thumb-background-color: hsla(0,0%,100%,0.1);
    --scroll-bar-thumb-background-color-active: hsla(0,0%,100%,0.15);
  }

  html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  }

/* width */


  body {
    --np-color: #fff;
    --tooltip-bg: #151125;
    --bg-color: #111;
    --color: #fff;
    color: var(--color);
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: var(--bg-color);
    background-size: 22px 22px;
    font-family: 'Righteous', Arial, Helvetica, sans-serif;
  }
  body{
    --bg-color: #0B0A15; 
    --color: #fff; 
    --np-color: #fff; 
    --tooltip-bg: #151125;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--bg-color);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3f3f46;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  div#gradient {
    --color-primary: var(--gradient);
    --color-gradient-1: var(--gradient);
    --color-gradient-2: var(--gradient);
    --color-gradient-3: var(--gradient);
    --color-gradient-4: var(--gradient);
    left: 50%;
    transform: translateX(-50%);
    /* background: radial-gradient(at 71% 77%,var(--color-gradient-1) 0,transparent 21%),radial-gradient(at 36% 47%,var(--color-gradient-3) 0,transparent 50%),radial-gradient(at 54% 29%,var(--color-gradient-3) 0,transparent 28%),radial-gradient(at 45% 51%,var(--color-gradient-1) 0,transparent 53%),radial-gradient(at 73% 44%,var(--color-gradient-2) 0,transparent 54%),radial-gradient(at 24% 7%,var(--color-gradient-2) 0,transparent 40%),radial-gradient(at 76% 46%,var(--color-gradient-1) 0,transparent 50%); */
    background-image: linear-gradient( 0.9deg, var(--bg-color) 54.2%, var(--gradient) 45.8% );
    max-height: 800px;
    height: 80vh;
    width: 100vw;
    filter: blur(44px);
    z-index: -1;
    opacity: 25%;
    position: absolute;
  }



.search-show{
  animation: mymove 0.3s;
  margin-top: 0px;
  opacity: 1;
  backdrop-filter: blur(44px);
}

.line-clamp-2{
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  line-clamp: 2;
}

@keyframes mymove {
  from {
    margin-top:30px;
    opacity: 0;
    backdrop-filter: blur(0px);
  }
  to {
    margin-top: 0px;
    opacity: 1;
    backdrop-filter: blur(44px);
  }
}

button:disabled{
  opacity: 0.75
}

td {
  padding: 15px 10px;
}

th{
  padding: 0 10px;
}

#longdescwrapper h1{
  font-size: 2em
}
#longdescwrapper h2{
  font-size: 1.5em
}
#longdescwrapper h3{
  font-size: 1.17em
}
#longdescwrapper h4{
  font-size: 1em
}
#longdescwrapper h5{
  font-size: 0.83em
}
#longdescwrapper h6{
  font-size: 0.75em
}

.pagetransition{

  animation: fadeIn 0.5s;
  opacity: 1
}
@keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.preloader{
  z-index: 10000;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: ease-in-out all 0.5s;
}

.preloaded{
  opacity: 0;
  pointer-events: none;
}

.sidenav{
  left: -100vw;
  opacity: 0;
  width: 100vw;
  transition: ease-in-out all 0.3s;
}

.sidenav-show{
  opacity: 1;
  left: 0;
}

.high-graphs{
  background-image: url('https://img.freepik.com/free-vector/space-background-with-planet-landscape_107791-6146.jpg?w=2000') !important;
  position: fixed !important;
  height: 100vh;
  width: 100vw;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu {
  animation: fadeIn 0.2s ease-in-out;
}
