@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="violet"] {
    --gradient: rgb(12, 74, 110, 0.2);
    --900: #0C4A6E;
    --800: #075985;
    --700: #0369A1;
    --600: #0284C7;
    --500: #0EA5E9;
    --400: #38BDF8;
    --300: #7DD3FC;
    --200: #BAE6FD;
    --100: #E0F2FE;
    --50: #F0F9FF;
  }

  :root {
    --scroll-bar-size: 10px;
    --scroll-bar-thumb-background-color: hsla(0,0%,100%,0.1);
    --scroll-bar-thumb-background-color-active: hsla(0,0%,100%,0.15);
  }

  html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  }



  body {
    --np-color: #fff;
    --tooltip-bg: #151125;
    --bg-color: #111;
    --color: #fff;
    color: var(--color);
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: var(--bg-color);
    background-size: 22px 22px;
    font-family: 'Righteous', Arial, Helvetica, sans-serif;
  }
  body{
    --bg-color: #0B0A15; 
    --color: #fff; 
    --np-color: #fff; 
    --tooltip-bg: #151125;
  }

  div#gradient {
    --color-primary: var(--gradient);
    --color-gradient-1: var(--gradient);
    --color-gradient-2: var(--gradient);
    --color-gradient-3: var(--gradient);
    --color-gradient-4: var(--gradient);
    left: 50%;
    transform: translateX(-50%);
    background: radial-gradient(at 71% 77%,var(--color-gradient-1) 0,transparent 21%),radial-gradient(at 36% 47%,var(--color-gradient-3) 0,transparent 50%),radial-gradient(at 54% 29%,var(--color-gradient-3) 0,transparent 28%),radial-gradient(at 45% 51%,var(--color-gradient-1) 0,transparent 53%),radial-gradient(at 73% 44%,var(--color-gradient-2) 0,transparent 54%),radial-gradient(at 24% 7%,var(--color-gradient-2) 0,transparent 40%),radial-gradient(at 76% 46%,var(--color-gradient-1) 0,transparent 50%);
    background-image: url('https://i.imgur.com/I9pgtXa.jpeg');
    max-height: 100vh;
    height: 100vh;
    max-width: 100vw;
    background-size: cover;
    width: 100vw;
    filter: blur(44px);
    z-index: -1;
    opacity: 25%;
    position: fixed;
  }



.search-show{
  animation: mymove 0.3s;
  margin-top: 0px;
  opacity: 1;
}

.line-clamp-2{
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  line-clamp: 2;
}

@keyframes mymove {
  from {
    margin-top: 8px;
    opacity: 0;
  }
  to {
    margin-top: 0px;
    opacity: 1;
  }
}

button:disabled{
  opacity: 0.75
}

td {
  padding: 15px 10px;
}

th{
  padding: 0 10px;
}

#longdescwrapper h1{
  font-size: 2em
}
#longdescwrapper h2{
  font-size: 1.5em
}
#longdescwrapper h3{
  font-size: 1.17em
}
#longdescwrapper h4{
  font-size: 1em
}
#longdescwrapper h5{
  font-size: 0.83em
}
#longdescwrapper h6{
  font-size: 0.75em
}

.pagetransition{

  animation: fadeIn 0.5s;
  opacity: 1
}
@keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.preloader{
  z-index: 10000;
  opacity: 1;
  transition: ease-in-out all 0.5s;
}

.preloaded{
  opacity: 0;
}

.sidenav{
  left: -100vw;
  width: 100vw;
  transition: ease-in-out all 0.3s;
}

.sidenav-show{
  left: 0;
}